.colortop{
    background-color: orangered;
    margin-top: 0;
}
nav{
    margin: 27px auto 0;
    position: relative;
    width: 475px;
    height: 50px;
    background-color: black;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration:none;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
}
nav .animation{
    position: absolute;
    height: 100%;
    top:0;
    z-index:0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1){
width: 100px;
}
a:nth-child(2){
width: 110px; 
}
a:nth-child(3){
width: 100px;   
}
a:nth-child(4){
width: 160px;    
}
nav .start-Home, a:nth-child(1):hover{
    width: 100px;
    left: 0;
    background-color:rgb(81, 81, 81);
    border-radius: 8px
}
nav .start-About, a:nth-child(2):hover{
    width: 110px;
    left: 0;
    background-color: rgb(81, 81, 81);
    border-radius: 8px
}
nav .start-Projects, a:nth-child(3):hover{
    width: 100px;
    left: 0;
    background-color:rgb(81, 81, 81);
}
nav .start-Contact, a:nth-child(4):hover{
    width: 160px;
    left: 0;
    background-color: rgb(81, 81, 81);
}
.aboutmesection{
    background-color: #e9d2c3;
    height: 500px;
    width:auto;
    margin-top: 0px;
}

.aboutmechanges{
    color: white;
    font-weight: 100;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    margin: 0px;
    font-size: 26px;
}