header{
    color: yellow;
    font-size: 40px;
    border-color: rgb(240, 14, 14);
    border-style: dotted;
    border-width: 1em;
    background-color: black;
}
.container{
    background-color:blue;
    width:400px;
    padding: 35px;
    margin: 100px auto;
    border-radius:10px;
}