
.header-wrapper{
  height: 400px;
  background-color: red;
  align-items: flex-start;
  padding: 10px 30px;
  margin-bottom: 0px;

}
header {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-column{
  width: 10px;
}
.logo{
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0px;

}
.navsettings{
  margin-bottom: 0;
}
.nav {
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  gap: 72px;
  background-color: orange;
}
ul li {
  list-style: none ;
  margin: 1.10% 0;
}
ul li a {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s;
}

ul:hover li a {
  color: white;
  animation: "glowing" ease-in-out infinite alternate;
}
ul:hover li a:not(:hover) {
  color: black;
  opacity: 0.3s;
  filter: blur(1px);
}
.alignVideo{
  align-items: center;
  display: grid;
  justify-items: center;
  margin-top: 10px;
  background-color: black;
}
.Title{
  font-size: 40px;
text-align: center;
margin-top: 1%;
}
.container{
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
background-color: orange;
}
  .img{
    max-width: 100%;
    max-height: 100%;
  align-items: center;
  }
  .textcontainer{
padding-left:40px;
  }
  .extratext{
    background-color: orange;
    padding:0;
    margin:0;
  }
  ol {
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    gap: 10px;
    margin: 2% 0;
  }
  .ingredientlistun {
    list-style: disc;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 5% 0;
    background-color: white;
  }
  .boxtitle{
    font-size: 26px;
    font-weight: 800px;
    text-decoration: none;
    padding: 10px;
    color: orange;
    background-color:red;
    margin-top: 0px;
    
  }
.containerpictures{
  display:flex;
  background-color: red;
  font-size: 30px;
  align-items: center;
}

.formcontainer {
  align-self: center;
  margin-bottom: 50px;
  padding-left: 80px;
}
form {
  display: inline-block;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 1000px;
  height: 300px;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 10px 15px 25px black;
}

.center-button {
  text-align: center;
  margin-top: 45px;
  box-sizing: large;
  padding-right: 205px;
}
.button{
  display:block;
  width: 87%;
  border: black;
  background-color: orange;
  color:red;
  padding: 14px 28px;
  font-size: 25px;
  font-style: italic;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}
.button:hover{
  background-color: orange;
  color:black;
}
.titlebottom{
  background-color: red;
  margin-bottom: 0%;
  height: 90px;
  font-size: 30px;
  align-self: center;
}
.picturecolumn{
  flex: 33.33%;
  padding:5px;
  margin-top: 0%;
}
.footer{
  color:red;
  background-color: black;
height:100px;
text-align: center;
padding-top: 1%;
}
